<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversations</title>
</head>

<body>
    <script>
        var convoList = [];

        db.get("SELECT * FROM convos WHERE title=?;", () => {
            if (err) {
                console.log(err);
                res.send("There was an error:\n" + err);
            } else if (row) {
                forEach(row => {
                    convoList.push(row)
                });
            } else {
                convoList.push("There are no active conversations.")
            };
        });
        
        function chat() {
            //take the user to selected conversation
        };

        function newConvo() {
            db.get("SELECT * FROM users WHERE username=?;", req.body.convoTitle, (err, row) => {
                if (err) {
                    res.send("Database error: \n" + err);
                } else if (row) {
                    res.send("There is already a conversation with that title.");
                } else {
                    db.run("INSERT INTO convos (title) VALUES (?);", req.body.convoTitle, (err, row) => {
                        if (err) {
                            res.send("Database error: \n" + err);
                        } else {
                            res.send("Created a new conversation.");
                        };
                    });
                };
            });
        };
    </script>

    <div class="oldConvo">
        <p>Choose from an exisitng conversation...</p>
        <form>
            <% convoList.forEach(convo=> { %>
                <button id="convoButton" class="convoTitle" value="button" size="70" onclick="chat()">
                    <% }) %>
        </form>
    </div>

    <div class="newConvo">
        <p>...or create a new one!</p>
        <form>
            <input id="newConvoTitle" class="convoTitle" type="text" placeholder="Add a title for the new conversation"
                size="70" method="post">
        </form>
    </div>

</body>

</html>